<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java_Multi/src/Homework_3/Chapter_9_q11_borderLayout.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Homework_3.Chapter_9_q11_borderLayout"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java_Multi"/>
</launchConfiguration>
